.block {
  border: solid 2px #094815;
  border-radius: 30px;
  padding: 30px;
}

.form {
  display: flex;
  flex-direction: column;
}

.block label {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.input {
  width: 100%;
  border: none;
  border-bottom: solid 2px #094815;
  background-color: transparent;
  outline: none;
}

.btn {
  width: 200px;
  margin: 20px auto 0;
  background-color: #e75a28;
  height: 40px;
  border: solid 2px #e75a28;
  border-radius: 5px;
  color: #f1f3f6;
  transition: linear, 0.7s;
}

.btn:hover {
  cursor: pointer;
  color: #e75a28;
  background-color: transparent;
}

@media all and (max-width: 350px) {
  .block {
    padding: 15px;
  }
}